@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-black text-white scroll-smooth font-montserrat;
}

/* Testing elements:- */
/* *:active {
	outline: .1px solid oldlace!important;
} */

@layer components {
	/* Every section container of Home Route */
	.home-section {
		@apply min-h-screen min-w-full py-16 px-3 sm:px-6 md:px-10 lg:px-20;
	}

	.max-section-width {
		@apply max-w-6xl mx-auto;
	}

	.flex-center {
		@apply flex justify-center items-center;
	}
	
	.flex-col-center {
		@apply flex justify-center items-center flex-col;
	}

	/* Primary Button */
	.primary-button {
		@apply relative block overflow-hidden px-4 py-2 bg-transparent hover:text-white border-1 border-solid border-blue-800 cursor-pointer active:bg-blue-900 delay-300;
	}

	.primary-button span {
		@apply absolute block w-0 h-0 rounded-full bg-blue-800;
		transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
		transform: translate(-50%, -50%);
		z-index: -1;
	}

	.primary-button:hover span {
		width: 225%;
		height: 562.5px;
	}

	/* Text Background Animation */
	.animate-text-bg {
		position: relative;
		display: inline-block;
		overflow: hidden;
		transition: all 0.2s linear;
		line-height: 1;
		margin-bottom: -0.15em;
		z-index: 5;
	}

	.animate-text-bg::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: translateX(-101%);
		transition: all 0.2s linear;
		z-index: -1;
	}

	.animate-text-bg:hover:before {
		transform: translateX(0);
	}

	/* Heading 1 */
	.h1 {
		@apply text-3xl md:text-4xl lg:text-5xl font-bold mb-2 sm:mb-3 md:mb-5 inline-block;
	}

	.h2 {
		@apply text-2xl md:text-3xl lg:text-4xl font-bold mb-2 sm:mb-3 md:mb-4 inline-block;
	}
}
